/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-Mar-2016, 21:02:16
    Author     : Sam Walsh
*/

body{
    color: #0000ff;
    background-color: #d0e4fe;
    /*background-image: url("stefan.jpg");
    background-position: center;
    background-size: cover;*/
    font-family: arial, verdana, sans-serif;
}

h1{
    font-size: 18px;
}
p{
    font-size: 12px;
}

table{
    background-color: #green;
    
    border-style: solid;
    border-width: 0px;
    border-color: #999999;
}

tf{
    background-color: yellow;
}

th{
    background-color: #fff000;
    font-weight: bold;
    padding: 5px;
}

ch{
    align-content: center;
}

img {
    padding: 5px;
}

td{
    background-color: #fff000;
}
